.big{
    height:400px;
    background: linear-gradient(to right,red,white);
}
.circle{
    height: 400px;
    background: radial-gradient(white,red,white);
}
input:checked +label
{
    text-decoration: line-through;
}